<div class="company pure-u-1-2" data-ng-init="getGlassdoor()">
  <h1>{{company.company}}</h1>
  <img data-ng-show="glassdoor" data-ng-src="{{glassdoor.squareLogo}}">
  State: {{company.state}}<br>
  City: {{company.city}}<br>
  <p data-ng-show="glassdoor">Website: <a href="{{glassdoor.website}}">{{glassdoor.website}}</a></p>
  <p data-ng-show="glassdoor">Glassdoor Rating: {{glassdoor.overallRating}} / 5</p>
  Hired {{company.ios + company.ruby + company.python + company.javascript + company.ux}} from Code Fellows<br>
  <table class="pure-table pure-table-horizontal">
    <thead>
      <tr>
        <th>Job Title</th>
        <th>Stack</th>
      </tr>
    </thead>
    <tbody>
      <tr class="positions" data-ng-repeat="position in company.hires">
        <td>{{position.position}}</te>
        <td>{{stacks[position.stack]}}</te>
      </tr>
    </tbody>
  </table>
</div>
