<div class="side-bar">
  <label for="keyword">Keyword</label>
  <input type="text" name="keyword" id="keyword" data-ng-model="keyword"></input>

  <label for="stack">Stack</label>
  <select id="stack" data-ng-model="stack">
    <option value="">Any</option>
    <option value="ios">iOS</option>
    <option value="ruby">Ruby</option>
    <option value="js">JavaScript</option>
    <option value="python">Python</option>
    <option value="ux">UX</option>
  </select>

  <label for="location">Location</label>
  <select id="location" data-ng-model="city" data-ng-options="job.city as job.city group by job.state for job in jobs | unique:'city'">
    <option value="">Any</option>
  </select>

  <label for="size">Company Size</label>
  <select id="size" data-ng-model="size">
    <option value="">Any</option>
    <option value="tiny">Tiny</option>
    <option value="small">Small</option>
    <option value="medium">Medium</option>
    <option value="large">Large</option>
    <option value="huge">Huge</option>
  </select>
</div>
<div class="job-list" data-ng-repeat="job in jobs | filter:keyword | filter:stackFunction | filter:cityFunction | filter:sizeFunction">
  <div class="job-item">
    <a href="#/company/{{job.company}}">{{job.company}}</a><br>
    City: {{job.city}}<br>
    iOS: {{job.ios}}<br>
    Ruby: {{job.ruby}}<br>
    JavaScript: {{job.js}}<br>
    UX: {{job.ux}}<br>
  </div>
</div>
