<div class="side-bar offset-sm-1-6 pure-u-1-6">
  <label for="keyword">Keyword:</label>
  <input type="text" name="keyword" id="keyword" data-ng-model="keyword"></input>

  <label for="stack">Stack:</label>
  <select id="stack" data-ng-model="stack">
    <option value="">Any</option>
    <option value="ios">iOS</option>
    <option value="ruby">Ruby</option>
    <option value="javascript">JavaScript</option>
    <option value="python">Python</option>
    <option value="ux">UX</option>
  </select>

  <label for="State">State:</label>
  <select id="State" data-ng-model="state"
                     data-ng-change="resetCity()"
                     data-ng-options="job.state as job.state for job in jobs | unique:'state' | orderBy:'state'">
    <option value="">Any</option>
  </select>

  <label for="City" data-ng-show="state">City</label>
  <select id="City" data-ng-show="state"
                    data-ng-model="city"
                    data-ng-options="job.city as job.city for job in jobs | unique:'city' | filter:filterFunction('state')">
    <option value="">Any</option>
  </select>

  <label for="size">Company Size:</label>
  <select id="size" data-ng-model="size">
    <option value="">Any</option>
    <option value="<10">Tiny</option>
    <option value="10-100">Small</option>
    <option value="100-1,000">Medium</option>
    <option value="1,000-10,000">Large</option>
    <option value="10,000+">Huge</option>
  </select>
  <p data-ng-show="keyword || stack || city || state || size">{{(jobs | filter:keyword |
                                filter:stackFunction |
                                filter:filterFunction('state') |
                                filter:filterFunction('city') |
                                filter:filterFunction('size')).length}} results found</p>
</div>
<div class="job-list pure-u-1-2">
  <div class="job"
       data-ng-style="{visibility: (keyword || stack || city || state || size) ? 'visible' : 'hidden'}"
       data-ng-repeat="job in jobs | filter:keyword |
                                     filter:stackFunction |
                                     filter:filterFunction('state') |
                                     filter:filterFunction('city') |
                                     filter:filterFunction('size') |
                                     orderBy:'ios + ruby + python + javascript + ux':true">
    <div class="job-item">
      <a href="#/company/{{job.company}}">{{job.company}}</a><br>
      <span>City: {{job.city}}</span>
      <span>State: {{job.state}}</span>
      <span>Size: {{job.size}}<span><br>
      Hired {{job.ios + job.ruby + job.python + job.javascript + job.ux}} from Code Fellows
    </div>
  </div>
</div>
