@import url(https://fonts.googleapis.com/css?family=Pontano+Sans|Monda:700);

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Pontano Sans', sans-serif;
}

header {
  background-color: black;
  margin-bottom: 20px;
  img {
    position: relative;
    top: 13px;
    margin-left: 16%;
  }
  h1 {
    display: inline-block;
    font-family: 'Monda', sans-serif;
    color: white;
    font-size: 1.5em;
  }
}

.side-bar{
	display: inline-block;
  border-right: 2px solid black;
  input {
    padding: 5px;
    border: 1px solid gray;
    border-radius: 2px;
  }
  input, label{
		display: block;
	}
  input, select {
    margin-bottom: 15px;
    width: 85%;
  }
}
.job {
  margin: 0 0 25px 28px;
  line-height: 20px;
  span {
    margin-right: 30px;
  }
}

.company {
  margin: 0 auto;
  line-height: 25px;
  img {
    position: relative;
    top: -55px;
    float: right;
  }
  p {
    margin: 0;
  }
  .pure-table {
    margin: 20px auto;
  }
}
