


// h1 {
//   color: red;
// }
//
// main{
// 	display: flex;
// 	justify-content: space-between;
// }
//
.side-bar{
	display: inline-block;
  border-right: 2px solid black;
  input {

  }
  input, label{
		display: block;
	}
  input, select {
    margin-bottom: 15px;
    width: 85%;
  }
}
.job {
  margin: 0 0 25px 28px;
  line-height: 20px;
  span {
    margin-right: 30px;
  }
}
//
// .job-list{
// 	width: 60%;
// 	display: inline-block;
// }
//
// .job-item{
// 	padding: 5% 0;
// 	border-bottom: 1px solid #000;
// }
